<!-- Header -->
<header id="header" class="skel-layers-fixed">
    <h1><a href="{{ site.baseurl }}/" class="site-title" >{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="#one">Open Source</a></li>
            <li><a href="#two">Get Started</a></li>
            <li><a href="#three">Compute Environments</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
            <li><a href="http://alces-flight-appliance-docs-openstack.readthedocs.org/en/aws/getting-started/deployment/aws/deployment.html" class="button special">Quick Deploy</a></li>
        </ul>
    </nav>
</header>
