<section id="products" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Products</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-users fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Alces ClusterWare</strong>
              </h4>
              <p>Tools and conventions for improving the ease of use of HPC facilities</p>
              <a href="https://github.com/alces-software/clusterware" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-music fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Alces Symphony</strong>
              </h4>
              <p>Alces Software Symphony Deployment Framework</p>
              <a href="https://github.com/alces-software/symphony" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-cloud-upload fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Alces Storage Manager</strong>
              </h4>
              <p>Web-based file manager to serve filesystems</p>
              <a href="https://github.com/alces-software/alces-storage-manager" class="btn btn-light">Learn More</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-power-off fa-stack-1x text-primary"></i>
            </span>
              <h4>
                <strong>Alces MetalWare</strong>
              </h4>
              <p>Tools and conventions for improving bare metal machine management</p>
              <a href="https://github.com/alces-software/metalware" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
